{% extends 'base.html.twig' %}

{% block body %}

	{# ------------------------------------------------- Hero index ------------------------------------------------- #}
	<section class="hero">
		<div class="index-page-cover-img parallax-one ">
			<div class="text-box">
				<h1>Discover, Create, and Share Delicious Recipes!</h1>
				<p>Join Us Today and Let Your Culinary Adventures Begin!</p>
				{# <a class="hero-btn" href="{{ path('register') }}">Get started</a> #}
				<a class="hero-btn" href="{{path('app_register')}}">Get started</a>
			</div>
		</div>
	</section>

	{# ------------------------------------------------- About - landing page ------------------------------------------------- #}
	<section class="about-landing">
		<h2>Introducing Cookbook –
			<br>
			your ultimate culinary companion! 🍳🌟</h2>
		<div class="about-intro">
			<p>
				Cookbook is not just a recipe manager, it's a vibrant online community where passionate foodies unite to explore and revel in the delight of cooking.
			</p>
			{# <a href="{{ path('about') }}">Learn more about Cookbook</a> #}
			<a href="#">Learn more about Cookbook</a>
		</div>
		<br>

		<p>
			This dynamic system has been
			<span>carefully designed to make recipe management a breeze</span>.
			<br>
			<strong>Unlock the power to effortlessly create, add, update, and delete your recipes with just a few clicks</strong>
			⬇️
		</p>

		<p class="line-break"></p><br>
		<p id="p-join">Join us on this exciting culinary journey and experience the joy of creating and discovering delicious dishes together!</p>
		{# <a class="join-btn" href="{{ path('register') }}">Join now!</a> #}
		<a class="join-btn" href="{{path('app_register')}}">Join now!</a>
	</section>

	{# ------------------------------------------------- Key Features ------------------------------------------------- #}
	<section class="parallax-two">
		<div class="features">

			<div class="collaborative-cooking avantages">
				<h3>Collaborative
					<br>Cooking</h3>
				<p>
					Embrace the
					<span>spirit of community</span>
					by sharing your favorite recipes and discovering new ones</p>
				<div class="avantages-icon">
					<img src="{{ asset('assets/img/icons/collaborative-cooking.png') }}" alt="Collaborative Cooking">
				</div>
			</div>

			<div class="save-favorites avantages">
				<h3>Save<br>
					Favorites</h3>
				<p>Bookmark and
					<span>save your favorite recipes</span>
					for quick access</p>
				<div class="avantages-icon">
					<img src="{{ asset('assets/img/icons/save-favorites.png') }}" alt="Save Favorites">
				</div>
			</div>

			<div class="no-fuss-interface avantages">
				<h3>No-Fuss
					<br>Interface</h3>
				<p>Whether you're using a
					<span>smartphone, tablet, or desktop,
					</span>
					you'll always have a smooth and hassle-free cooking experience</p>
				<div class="avantages-icon">
					<img src="{{ asset('assets/img/icons/no-fuss-interface.png') }}" alt="No-Fuss Interface">
				</div>
			</div>
		</div>
	</section>

	{# ------------------------------------------------- World of Recipes ------------------------------------------------- #}
	<section class="worldRecipes" id="cusines">
		<h2>Explore<br>
			a World of Recipes 🌍🍽️</h2>
		<p>
			Dive into a treasure trove of mouthwatering recipes from around the globe. Whether you're a novice cook or a seasoned chef, our extensive collection has something for everyone.
		</p>

		<div id="div-btn">
			<button type="button" class="btn-dicover">
				<a href="{{ path('app_recipes_index') }}">Discover More Recipes</a>
				<svg stroke-width="4" stroke="currentColor" viewbox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
					<path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
				</svg>
			</button>
		</div>

		<div class="worldRecipes-gallery">
			<div class="worldRecipes-card">
				<a href="{{ path('app_recipes_by_cuisine', { 'cuisine': 'italian' }) }}">
					<img src="{{ asset('assets/img/italian-cuisine.jpg') }}" alt="Italian Cuisine">
					<div class="layer">
						<h3>Italian Cuisine</h3>
					</div>
				</a>
			</div>

			<div class="worldRecipes-card">
				<a href="{{ path('app_recipes_by_cuisine', { 'cuisine': 'french' }) }}">
					<img src="{{ asset('assets/img/french-cuisine.jpg') }}" alt="French Cuisine">
					<div class="layer">
						<h3>French Cuisine</h3>
					</div>
				</a>
			</div>

			<div class="worldRecipes-card">
			<a href="{{ path('app_recipes_by_cuisine', { 'cuisine': 'asian' }) }}">
				<img src="{{ asset('assets/img/asian-cuisine.jpg') }}" alt="Asian Cuisine">
				<div class="layer">
					<h3>Asian Cuisine</h3>
				</div>
			</div>
			</a>
		</div>
	</section>
{% endblock %}
