<nav>
	<!-- logo -->
	<div id="logo">
		<a href="{{ path('app_home') }}">CookBook
			<img id="logoImg" src="{{ asset('assets/img/icons/chef-hat.svg') }}" alt="logo Cookbook"></a>
	</div>

	<!-- burger -->
	<div class="burger">
		<img src="{{ asset('assets/img/icons/bars.svg') }}" alt="bars-icon">
	</div>

	<div class="nav-links show-menu hide-menu" id="navLinks">
		<!-- close-X -->
		<div class="close-x">
			<img src="{{ asset('assets/img/icons/x.svg') }}" alt="close-icon">
		</div>

		<ul>
			<li>
				<a href="{{ path('app_home') }}">Home</a>
			</li>
			<li>
				<a href="{{ path('app_recipes_index') }}">Recipes</a>
			</li>
			<li>
				<a href="#">Cuisines</a>
			</li>		
			
		

			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="li-no-hover">					
					 <a class="nav-profile" href="{{ path('app_user_show', {'id': app.user.id}) }}"><span>{#<img class="avatar" src="{{asset('assets/img/') ~ app.user.avatar}}" alt="{{ app.user.username }}">#} My Profile</span></a>	 
					 
				</li>
				<li class="li-no-hover">				
					<a class="logout-btn" href="{{path('app_logout')}}">Logout</a>						
					<!-- <li><a href="#">Profile</a></li> -->
					<!-- <li><a href="#">Favorites</a></li> -->
				</li>
			{% else %}
				<li class="login-li">
					<div class="login-div">
						<a href="{{path('app_register')}}">Login</a>
						<img class="login-icon" src="{{ asset('assets/img/icons/login.svg') }}" alt="logIn">
					</div>
				</li>
				{# <li>
					<a href="{{path('app_register')}}">Sing In</a>
				</li> #}
			{% endif %}
		</ul>	
	</div>
</nav>
