<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Cookbook
			{% endblock %}
		</title>

		{# External stylesheets #}
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> {# Boxicons #}
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/> 	{# Font Awesome icon library #}


		{# Linking to the SVG file using the asset function #}
		<link rel="icon" type="image/svg+xml" href="{{ asset('assets/img/icons/chef-hat.svg') }}"> {# flaticon #}


		{# My own stylesheets #}
		{% block stylesheets %}
			<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>	{# style.css #}
			<link href="{{ asset('assets/css/nav-header.css') }}" rel="stylesheet"/>	{# nav-header.css #}
			<link href="{{ asset('assets/css/landingPage.css') }}" rel="stylesheet"/> {# landingPage.css #}
			<link href="{{ asset('assets/css/recipes.css') }}" rel="stylesheet"/> {# recipes.css #}
			<link href="{{ asset('assets/css/dashboard-user.css') }}" rel="stylesheet"/> {# dashboard-user.css #}
			<link href="{{ asset('assets/css/user.css') }}" rel="stylesheet"/> {# user.css #}
			<link href="{{ asset('assets/css/footer.css') }}" rel="stylesheet"/> {# footer.css #}
			<link href="{{ asset('assets/css/buttons.css') }}" rel="stylesheet"/> {# buttons.css #}
			<link href="{{ asset('assets/css/privacy-terms.css') }}" rel="stylesheet"/> {# privacy-terms.css #}
			<link href="{{ asset('assets/css/about.css') }}" rel="stylesheet"/>	{# about.css #}
		{% endblock %}

		{# JavaScript files #}
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> {# jQuery #}
			<script src="{{ asset('assets/js/script.js') }}" defer></script>
		{% endblock %}
	</head>

	<header>
		{{ include('partials/_nav.html.twig') }} {# nav #}
	</header>

	<body>
		{% block body %}{% endblock %}
		{{ include('partials/_footer.html.twig') }} {# footer #}		
	</body>
</html>
