{{ form_start(form) }}

{{ form_row(form.title) }}<br>
{{ form_row(form.description) }}<br>
{{ form_row(form.ingredients) }}<br>
{{ form_row(form.instructions) }}<br>
{{ form_row(form.level) }}<br>
{{ form_row(form.budget) }}<br>
{{ form_row(form.cuisine) }}<br>

{# Rendering the image field as a file input with required #}
<div class="input-img">{{ form_row(form.image)}}</div><br>
{# {{ form_row(form.image, { 'required': false }) }} #}

{# Separate button for image upload #}<input type="submit" class="btn-upload" id="btn" value="{{ button_label|default('Upload') }}" name="upload_image"> <br>

{{ form_end(form) }}
