{{ form_start(form) }}
{{ form_widget(form) }}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}

{# <!------------------------------- btn --------------------------------> #}
<input class="btn-upload" id="btn" type="submit" value="{{ button_label|default('Upload') }}">

{{ form_end(form) }}
