{# {{ form_start(form) }}
{{ form_widget(form) }} #}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}

{# <!------------------------------- btn --------------------------------> #}
{# <input class="btn-upload" id="btn" type="submit" value="{{ button_label|default('Upload') }}"> #}

{# {{ form_end(form) }} #}


{# added 10.01.24 #}
{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.ingredients) }}
{{ form_row(form.instructions) }}
{{ form_row(form.level) }}
{{ form_row(form.budget) }}
{{ form_row(form.cuisine) }}

{# Render the image field as a file input #}
{{ form_row(form.image) }}

{# Create a separate button for image upload #}
<input type="submit" class="btn-upload" id="btn" value="{{ button_label|default('Upload') }}" name="upload_image">

{{ form_end(form) }}
