{% extends 'base.html.twig' %}

{% block title %}
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<section class="recipe-page">
		{# add to favorite #}
		{# <div class="favorite-icon like-icon add-to-favorite-show {% if isFavorite %}clicked{% endif %}" data-recipe-id="{{ recipe.id }}">
						    <p>{% if isFavorite %}Remove from favorites{% else %}Add to favorites{% endif %}</p>
						    <i class='bx bx-bookmark-heart {% if isFavorite %}hidden{% endif %}'></i>
						    <i class='bx bxs-bookmark-heart {% if not isFavorite %}hidden{% endif %}'></i>
						</div> #}

		{# <!-- title --> #}
			<h2 class="recipe-title"> {{ recipe.title }}</h2>

		<div
			class="recipe-content">


			{# <!-- description --> #}
			<p class="p-description">{{ recipe.description }}</p>

			<div
				class="recipe-sub-content">

				{# <!-- img --> #}
				{% if recipe.image %}
					<div class="recipe-img">
						<img
						src="/uploads/{{ recipe.image }}" alt="{{ recipe.title }}">
					{# <img src="{{ asset('uploads/' ~ recipe.id ~ '.jpg') }}" alt="{{ recipe.title }}"> #}
					</div>
				{% endif %}
				<div>
					<div
						class="recipe-cuisine-budget">
						{# <!-- cuisine --> #}
						<p>
							<i class='bx bx-globe'></i>:
							{{ recipe.cuisine }}</p>
						{# <!-- level --> #}
						<p class="cuisine-level">
							<i class='bx bxs-bowl-rice'></i>:
							{{ recipe.level }}</p>
						{# <!-- budget --> #}
						<p>
							<i class='bx bx-euro'></i>:
							{{ recipe.budget }}</p>
					</div>

					{# <!-- ingredients --> #}
					<div>
						{% set ingredientsArray = recipe.ingredients|split(';') %}
						<p class="p-sub-title ingredients-title">Ingredients:</p>
						<ul class="ul-recipe text-ingredients">
							{% for ingredient in ingredientsArray %}
								<li>{{ ingredient|striptags|trim }}.</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			{# <!-- instructions --> #}
			<div>
				{% set instructionsArray = recipe.instructions|split(';') %}
				<p class="p-sub-title">Instructions:</p>
				<ul class="ul-recipe text-instructions">
					{% for index, instruction in instructionsArray %}
						{% if instruction|trim != '' %}
							<li><strong>{{ (index + 1) }}.</strong> 
								{{ instruction|striptags|trim }}.</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

		{# Created by #}
		<p class="recipe-created-by">
			Created
			{{ recipe.createdAt ? recipe.createdAt|date('j F Y') : '' }}
			by
			{% if recipe.user is not null %}
				{% if recipe.user.id is not null and app.user is not null and recipe.user.id == app.user.id %}
					<strong>{{ app.user.username }}</strong>
				{% else %}
					{{ recipe.user.username }}
				{% endif %}
			{% else %}
				Unknown Author
			{% endif %}
		</p>

		{# Edit and Delete buttons (only for the author of the recipe) #}
		{% if app.user and recipe.user and app.user.id == recipe.user.id %}
			<div class="edit-delete">
				<a class="btn-edit" href="{{ path('app_recipes_edit', {'id': recipe.id}) }}">Edit ✒️</a>
				{{ include('recipes/_delete_form.html.twig') }}
			</div>
		{% endif %}


		{# <!-- btn Go Back --> #}
		<div class="div-btnGoBack">
			<button type="button" class="btnGoBack">
				<a href="{{ path('app_recipes_index') }}">Back to recipes</a>
				<svg stroke-width="4" stroke="currentColor" viewbox="0 0 24 24" fill="none" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg">
					<path d="M14 5l7 7m0 0l-7 7m7-7H3" stroke-linejoin="round" stroke-linecap="round"></path>
				</svg>
			</button>
		</div>
	</section>
{% endblock %}
