{% extends 'base.html.twig' %}

{% block title %}
	My Favorite Recipes
{% endblock %}

{% block body %}
	<section class="recipes">
		<h2 class="pagename">My Favorite Recipes</h2>
		<p class="p-intro">Explore the delightful selection of recipes you've saved as favorites.
		</p>

		<div class="gallery-recipes">
			{% for favoriteRecipe in favoriteRecipes %}
				<div class="recipes-card">
					{% if favoriteRecipe.recipe.image %}
						<div class="recipes-card-img">
							<img class="crop-horizontal card-img" src="/uploads/{{ favoriteRecipe.recipe.image }}" alt="{{ favoriteRecipe.recipe.title }}">
						</div>
					{% endif %}

					<div
						class="recipe-card-content">
						{# like bookmark#}
						<div class="favorite-icon like-icon {% if favoriteRecipe.isFavorite %}clicked{% endif %}" data-recipe-id="{{ favoriteRecipe.id }}">
							<p>Add to favorite</p>
							<i class='bx bx-bookmark-heart'></i>
							<i class='bx bxs-bookmark-heart'></i>
						</div>

						<div class="level-budget">
							<p>
								<i class='bx bx-globe'></i>:
								{{ favoriteRecipe.recipe.cuisine }}</p>
							<p>
								<i class='bx bxs-bowl-rice'></i>:
								{{ favoriteRecipe.recipe.level }}</p>
							<p>
								<i class='bx bx-euro'></i>:
								{{ favoriteRecipe.recipe.budget }}</p>
						</div>

						<h5>{{ favoriteRecipe.recipe.title }}</h5>
						<p class="recipes-card-description">{{ favoriteRecipe.recipe.description }}</p>
						<div class="div-btn">
							<a class="btn-getCooking" href="{{ path('app_recipes_show', {'id': favoriteRecipe.recipe.id}) }}">Get Cooking!</a>
						</div>
					</div>
				</div>
			{% else %}
				<p>No records found</p>
			{% endfor %}
		</div>
	</section>
{% endblock %}
