{% extends 'base.html.twig' %}

{% block title %}Your profile
{% endblock %}

{% block body %}
	<section class="user-profile">
		<div class="user-intro">
			<h1>Welcome to your Profile</h1>
			{# <p>
				<span>Your profile is the heart of our community — make it uniquely yours!</span>
				Dive into a world of flavors and personalize your cooking haven. Update your bio to share your culinary story, set a profile picture that reflects your kitchen charisma, and showcase your favorite recipes. Track your culinary milestones, see the recipes you've loved.
			</p> #}
		</div>

		<div class="card-user">
			<div>
				{# avatar #}
				{% if user.avatar %}
					<img src="{{ asset('uploads/avatar/' ~ user.avatar) }}" alt="My avatar">
				{% else %}
					<img src="{{ asset('uploads/avatar/default_avatar.png') }}" alt="Avatar">
				{% endif %}                	

				{# usermane #}
				<h2>username:
					<span>{{ user.username }}</span>
				</h2>

				{# email #}
				<p>email:
					{{ user.email }}</p>

				{# about  #}				
				<h2>About me:</h2>
				<p class="user-about">{{ user.about ? user.about : 'Tell us about yourself...' }}</p>
				
				{# created_at #}
				<p>You are a member of Cookbook community since: <br>
					<span>{{ user.createdAt ? user.createdAt|date('j F Y') : '' }}</span>
				</p>
			</div>

			<a href="{{ path('app_user_edit', {'id': user.id}) }}">Edit profile</a>

			{{ include('user/_delete_form.html.twig') }}

		</section>
	{% endblock %}
